##################################
# CZECH LANGUAGE CONFIGURATION   #
##################################

lang_0001 = Nelze vytvorit hru [$GAMENAME$] na serveru [$SERVER$]. Zkus jiny nazev.
lang_0002 = Chyba. Uzivatel [$USER$] je jiz admin na serveru [$SERVER$].
lang_0003 = Uzivatel [$USER$] byl pridan do databaze adminu na serveru [$SERVER$].
lang_0004 = Chyba pri pridavani uzivatele [$USER$] do databaze adminu na serveru [$SERVER$].
lang_0005 = Nemas pristup k tomuto prikazu.
lang_0006 = Chyba. Uzivatel [$VICTIM$] je jiz zabanovan na serveru [$SERVER$].
lang_0007 = Uzivatel [$VICTIM$] byl zabanovan na serveru [$SERVER$].
lang_0008 = Chyba pri banovani uzivatele [$VICTIM] na serveru [$SERVER$].
lang_0009 = Uzivatel [$USER$] je admin na serveru [$SERVER$].
lang_0010 = Uzivatel [$USER$] neni admin na serveru [$SERVER$].
lang_0011 = Uzivatel [$VICTIM$] byl zabanovan na serveru [$SERVER$] dne $DATE$ adminem [$ADMIN$] z duvodu [$REASON$].
lang_0012 = Uzivatel [$VICTIM$] neni zabanovan na serveru [$SERVER$].
lang_0013 = Na serveru [$SERVER$] nejsou zadni admini.
lang_0014 = Na serveru [$SERVER$] je 1 admin.
lang_0015 = Na serveru [$SERVER$] je $COUNT$ adminu.
lang_0016 = Na serveru [$SERVER$] nejsou zadni zanovani uzivatele.
lang_0017 = Na serveru [$SERVER$] je 1 zanovany uzivatel.
lang_0018 = Na serveru [$SERVER$] je $COUNT$ zanovanych uzivatelu.
lang_0019 = Nelze smazat hlavniho admina.
lang_0020 = Uzivatel [$USER$] byl odstranen z databaze adminu na serveru [$SERVER$].
lang_0021 = Chyba pri odstranovani uzivatele [$USER$] z databaze adminu na serveru [$SERVER$].
lang_0022 = Uzivatel [$VICTIM$] byl odbanovan na vsech serverech.
lang_0023 = Chyba pri odebrani banu uzivatele [$VICTIM$] na vsech serverech.
lang_0024 = Hra cislo $NUMBER$ je [$DESCRIPTION$].
lang_0025 = Hra cislo $NUMBER$ neexistuje.
lang_0026 = Hra [$DESCRIPTION$] je v lobby a probiha $CURRENT$/$MAX$ dalsich her.
lang_0027 = Zadna hra neni v lobby a probiha $CURRENT$/$MAX$ her.
lang_0028 = Nelze nacist konfiguraci mimo aktualni adresar.
lang_0029 = Nacitam konfiguraci [$FILE$].
lang_0030 = Nelze nacist konfiguraci [$FILE$], protoze neexistuje.
lang_0031 = Vytvarim soukromou hru [$GAMENAME$] spustenou hracem [$USER$].
lang_0032 = Vytvarim verejnou hru [$GAMENAME$] spustenou hracem [$USER$].
lang_0033 = Nelze zrusit hosovani hry [$DESCRIPTION$]. Odpocet byl spusten, pockat par sekund.
lang_0034 = Rusim hosovani hry [$DESCRIPTION$].
lang_0035 = Nelze zrusit hosovani hry. V lobby neni zadna hra.
lang_0036 = Verze: J2EE GHost++ verze $VERSION$
lang_0037 = Verze: J2EE GHost++
lang_0038 = Nelze vytvorit hru [$GAMENAME$]. Jina hra [$DESCRIPTION$] je jiz v lobby.
lang_0039 = Nelze vytvorit hru [$GAMENAME$]. Byl dosazeno maximalniho poctu soubeznych her ($MAX$).
lang_0040 = Hra [$DESCRIPTION$] skoncila.
lang_0041 = Overte svoji identitu odpovedi na tuto zpravu heslem "sc" [ /r sc ].
lang_0042 = Hra obnovena...
lang_0043 = Mozne podvrzeni jmena. Skutecny hrac [$USER$] je pryc.
lang_0044 = Mozne podvrzeni jmena. Skutecny hrac [$USER$] neni k dispozici.
lang_0045 = Mozne podvrzeni jmena. Skutecny hrac [$USER$] odmita zpravy.
lang_0046 = Podvrzeni jmena detekovano. Skutecny hrac [$USER$] neni ve hre.
lang_0047 = Podvrzeni jmena detekovano. Skutecny hrac [$USER$] je v soukromem kanalu.
lang_0048 = Podvrzeni jmena detekovano. Skutecny hrac [$USER$] je v jine hre.
lang_0049 = Odpocet prerusen!
lang_0050 = $VICTIM$ se pokousí pripojit do hry, ale je zabanovan.
lang_0051 = Nelze zabanovat hrace [$VICTIM$]. Nenalezena zadna shoda.
lang_0052 = Hrac [$VICTIM$] byl zabanovan hracem [$USER$] na serveru [$SERVER$].
lang_0053 = Nelze zabanovat hrace [$VICTIM$]. Nalezeno vice nez jedna shoda.
lang_0054 = Hrac [$USER$] byl pridan na seznam rezervaci.
lang_0055 = Nelze vykopnout hrace [$VICTIM$]. Nenalezena zadna shoda.
lang_0056 = Nelze vykopnout hrace [$VICTIM$]. Nalezeno vice nez jedna shoda.
lang_0057 = Nastavuji latenci hry na minimum $MIN$ ms.
lang_0058 = Nastavuji latenci hry na maximum $MAX$ ms.
lang_0059 = Nastavuji latenci hry na $LATENCY$ ms.
lang_0060 = Vyhazuji $TOTAL$ hracu s pingem vyssim nez $PING$.
lang_0061 = [$USER$] odehral s tímto botem $TOTALGAMES$ her. Prumerna doba nacitani: $AVGLOADINGTIME$ sekund. Prumerna doba hry: $AVGSTAY$ procent.
lang_0062 = [$USER$] zatim s tímto botem nehrál zadnou hru.
lang_0063 = Automaticky vyhazuji hrace [$VICTIM$] za prilis vysoky ping $PING$.
lang_0064 = Overeni identity prijato pro [$USER$] na serveru [$SERVER$].
lang_0065 = Hraci, kteri dosud nebyli overeni: $NOTSPOOFCHECKED$
lang_0066 = Overeni identity provedte sepsanim "sc" [ /w $HOSTNAME$ sc ] nebo vyckejte, bude provedeno automaticky.
lang_0067 = Overeni identity provedte sepsanim "sc" [ /w $HOSTNAME$ sc ].
lang_0068 = Vsichni hraci byli overeni.
lang_0069 = Hraci, kteri jeste nebyli 3x pingováni: $NOTPINGED$
lang_0070 = Vsichni hraci byli zkontrolovani.
lang_0071 = Nejkratsi doba nacitani hrace [$USER$] byla $LOADINGTIME$ sekund.
lang_0072 = Nejdelsi doba nacitani hrace [$USER$] byla $LOADINGTIME$ sekund.
lang_0073 = Vase doba nacitani byla $LOADINGTIME$ sekund.
lang_0074 = [$USER$] odehral zde $TOTALGAMES$ DotA her (V/P: $TOTALWINS$/$TOTALLOSSES$). Hrdinove K/S/A: $TOTALKILLS$/$TOTALDEATHS$/$TOTALASSISTS$ ($AVGKILLS$/$AVGDEATHS$/$AVGASSISTS$). Plazi K/S/N: $TOTALCREEPKILLS$/$TOTALCREEPDENIES$/$TOTALNEUTRALKILLS$ ($AVGCREEPKILLS$/$AVGCREEPDENIES$/$AVGNEUTRALKILLS$). V/R/K: $TOTALTOWERKILLS$/$TOTALRAXKILLS$/$TOTALCOURIERKILLS$.
lang_0075 = [$USER$] zatim zde nehral zadnou DotA hru.
lang_0076 = byl vykopnut, aby uvolnil misto pro rezervovaneho hrace [$RESERVED$]
lang_0077 = byl vykopnut, aby uvolnil misto pro vlastnika hry [$OWNER$]
lang_0078 = byl vykopnut hracem [$USER$]
lang_0079 = ztratil pripojeni (chyba hrace - $ERROR$)
lang_0080 = ztratil pripojeni (chyba pripojeni - $ERROR$)
lang_0081 = ztratil pripojeni (spojeni uzavreno vzdalenym hostem)
lang_0082 = opustil hru dobrovolne
lang_0083 = Ukoncuji hru [$DESCRIPTION$].
lang_0084 = ztratil pripojeni (vyprseni casoveho limitu)
lang_0085 = Globalni chat ztlumen (spojenecky a soukromy chat neni ovlivnen).
lang_0086 = Globalni chat odtlumen.
lang_0087 = Michani hracu.
lang_0088 = Nelze nacist konfiguraci, protoze hra je v lobby.
lang_0089 = Hraci, kteri stale stahuji mapu: $STILLDOWNLOADING$
lang_0090 = Zpravy o obnove povoleny.
lang_0091 = Zpravy o obnove zakazany.
lang_0092 = Alespon jedna hra je v lobby nebo probiha. Pouzij 'force' pro okamzite vypnuti nebo 'nice' pro dokonceni probihajicich her.
lang_0093 = Aktualne nacteny konfiguracni soubor mapy je: [$MAPCFG$]
lang_0094 = vypadl (odpojen adminem)
lang_0095 = vypadl (odpojen hlasovanim)
lang_0096 = Hrac [$USER$] hlasoval pro odpojeni laggeru.
lang_0097 = Latence hry je $LATENCY$ ms.
lang_0098 = Limit synchronizace je $SYNCLIMIT$ paketu.
lang_0099 = Nastavuji limit synchronizace na minimum $MIN$ paketu.
lang_0100 = Nastavuji limit synchronizace na maximum $MAX$ paketu.
lang_0101 = Nastavuji limit synchronizace na $SYNCLIMIT$ paketu.
lang_0102 = Nelze vytvorit hru [$GAMENAME$]. GHost++ neni prihlasen na battle.net.
lang_0103 = Prihlasen.
lang_0104 = Nespravne heslo (pokus $ATTEMPT$).
lang_0105 = Pripojuji se k serveru battle.net [$SERVER$].
lang_0106 = Pripojeno k serveru battle.net [$SERVER$].
lang_0107 = Odpojeno od serveru battle.net [$SERVER$].
lang_0108 = Prihlasen na server battle.net [$SERVER$].
lang_0109 = Hosovani hry na battle.net uspesne na serveru [$SERVER$].
lang_0110 = Hosovani hry na battle.net selhalo na serveru [$SERVER$].
lang_0111 = Pripojeni k serveru battle.net [$SERVER$] vyprselo.
lang_0112 = Hrac [$USER$] stahl mapu za $SECONDS$ sekund ($RATE$ KB/s).
lang_0113 = Nelze vytvorit hru [$GAMENAME$]. Nazev hry je prilis dlouhy (maximum je 31 znaku).
lang_0114 = Nastavuji vlastnika hry na [$OWNER$].
lang_0115 = Herní prikazy mohou pri zamcene hre spoustet pouze vlastnik hry a hlavni admini.
lang_0116 = Hra zamcena. Herní prikazy mohou spoustet pouze vlastnik hry a hlavni admini.
lang_0117 = Hra odemcena. Herní prikazy mohou spoustet vsichni admini.
lang_0118 = Nelze spustit stahování pro hrace [$VICTIM$]. Nenalezena zadna shoda.
lang_0119 = Nelze spustit stahování pro hrace [$VICTIM$]. Nalezeno vice nez jedna shoda.
lang_0120 = Nelze nastavit vlastnika hry, protoze nejsi vlastnik a vlastnik je ve hre. Vlastnik je [$OWNER$].
lang_0121 = Nelze zkontrolovat hrace [$VICTIM$]. Nenalezena zadna shoda.
lang_0122 = Hrac [$VICTIM$] zkontrolovan. Ping: $PING$, Odkud: $FROM$, Admin: $ADMIN$, Vlastnik: $OWNER$, Overeni: $SPOOFED$, Server: $SPOOFEDREALM$, Rezervovan: $RESERVED$.
lang_0123 = Nelze zkontrolovat hrace [$VICTIM$]. Nalezeno vice nez jedna shoda.
lang_0124 = Tento prikaz je pri zamcene hre zakazan.
lang_0125 = Nelze vytvorit hru [$GAMENAME$]. Bot je vypnut.
lang_0126 = Vytvareni novych her bylo zakazano (hra v lobby nebude automaticky odhostvana).
lang_0127 = Vytvareni novych her bylo povoleno.
lang_0128 = Nelze vytvorit hru [$GAMENAME$]. Aktualne nacteny konfiguracni soubor mapy je neplatny.
lang_0129 = Cekam na $PLAYERSLEFT$ dalsich hracu pred automatickym spustenim hry.
lang_0130 = Automaticke spusteni bylo zakazano.
lang_0131 = Automaticke spusteni bylo povoleno. Hra se automaticky spusti pri $PLAYERS$ hracich.
lang_0132 = Oznamovaci zprava povolena.
lang_0133 = Oznamovaci zprava zakazana.
lang_0134 = Automaticke hosovani povoleno.
lang_0135 = Automaticke hosovani zakazano.
lang_0136 = Nelze nacist ulozene hry mimo aktualni adresar.
lang_0137 = Nelze nacist ulozenou hru, protoze hra je v lobby.
lang_0138 = Nacitam ulozenou hru [$FILE$].
lang_0139 = Nelze nacist ulozenou hru [$FILE$], protoze neexistuje.
lang_0140 = Nelze vytvorit hru [$GAMENAME$]. Aktualne nactena ulozena hra je neplatna.
lang_0141 = Nelze vytvorit hru [$GAMENAME$]. Aktualne nactena ulozena hra neodpovida aktualne nactene mape.
lang_0142 = Automaticke ukladani pri odpojeni hrace povoleno.
lang_0143 = Automaticke ukladani pri odpojeni hrace zakazano.
lang_0144 = Upozorneni! Byl detekovam desync!
lang_0145 = Nelze ztlumit/odtlumit hrace [$VICTIM$]. Nenalezena zadna shoda.
lang_0146 = Hrac [$VICTIM$] byl ztlumen hracem [$USER$].
lang_0147 = Hrac [$VICTIM$] byl odtlumen hracem [$USER$].
lang_0148 = Nelze ztlumit/odtlumit hrace [$VICTIM$]. Nalezeno vice nez jedna shoda.
lang_0149 = Hrac [$PLAYER$] uklada hru.
lang_0150 = Aktualizuji interni seznam clenu klanu z battle.net...
lang_0151 = Aktualizuji interni seznam pratelu z battle.net...
lang_0152 = Hrac [$PLAYER$] ma stejnou IP adresu jako: $OTHERS$
lang_0153 = Nelze zahajit hlasovani o vyhozeni. Jine hlasovani jiz probiha.
lang_0154 = Nelze zahajit hlasovani o vyhozeni. Ve hre neni dostatek hracu.
lang_0155 = Nelze hlasovat o vyhozeni hrace [$VICTIM$]. Nenalezena zadna shoda.
lang_0156 = Nelze hlasovat o vyhozeni hrace [$VICTIM$]. Tento hrac je rezervovan a nelze ho vyhodit hlasovanim.
lang_0157 = Hlasovani o vyhozeni hrace [$VICTIM$] bylo zahajeno hracem [$USER$]. K pruchodu je potreba $VOTESNEEDED$ hlasu do 60 sekund.
lang_0158 = Nelze hlasovat o vyhozeni hrace [$VICTIM$]. Nalezeno vice nez jedna shoda.
lang_0159 = Hlasovani o vyhozeni hrace [$VICTIM$] proslo.
lang_0160 = Chyba pri vyhazovani hrace [$VICTIM$] hlasovanim.
lang_0161 = Hrac [$USER$] hlasoval pro vyhozeni hrace [$VICTIM$]. Pro pruchod je potreba jeste $VOTES$ hlasu.
lang_0162 = Hlasovani o vyhozeni hrace [$VICTIM$] bylo zruseno.
lang_0163 = Hlasovani o vyhozeni hrace [$VICTIM$] vyprselo.
lang_0164 = byl vyhozen hlasovanim
lang_0165 = Napis $COMMANDTRIGGER$yes pro hlasovani.
lang_0166 = Cekam na spusteni, dokud nebyli hraci zpingovani: $NOTPINGED$
lang_0167 = byl vyhozen za neprovedeni overeni identity do 20 sekund
lang_0168 = byl vyhozen za nejvetsi odchylku ratingu $SCORE$ od prumeru $AVERAGE$
lang_0169 = Hrac [$PLAYER$] ma rating $SCORE$.
lang_0170 = Hraci s ratingem: $RATED$/$TOTAL$. Rozptyl: $SPREAD$.
lang_0171 = Chyba pri vypisovani map.
lang_0172 = Mapy: $MAPS$
lang_0173 = Zadna mapa s timto nazvem nenalezena.
lang_0174 = Chyba pri vypisovani konfiguraci map.
lang_0175 = Konfigurace map: $MAPCONFIGS$
lang_0176 = Zadna konfigurace mapy s timto nazvem nenalezena.
lang_0177 = Hrac [$USER$] dokoncil nacitani.
lang_0178 = Prosim cekejte. Hraci stale nacitaji mapu.
lang_0179 = Stahovani map zakazano.
lang_0180 = Stahovani map povoleno.
lang_0181 = Podmínene stahovani map povoleno.
lang_0182 = Nastavuji HCL prikaz na [$HCL$].
lang_0183 = Nelze nastavit HCL prikaz, protoze obsahuje neplatne znaky.
lang_0184 = Nelze nastavit HCL prikaz, protoze je prilis dlouhy.
lang_0185 = HCL prikaz je [$HCL$].
lang_0186 = HCL prikaz je prilis dlouhy. Pro spusteni pouzij 'force'.
lang_0187 = Mazu HCL prikaz.
lang_0188 = Pokousim se znovu hostovat jako soukromou hru [$GAMENAME$]. Prosim cekejte, bude to trvat nekolik sekund.
lang_0189 = Pokousim se znovu hostovat jako verejnou hru [$GAMENAME$]. Prosim cekejte, bude to trvat nekolik sekund.
lang_0190 = Rehostovani bylo uspesne alespon na jednom serveru!
lang_0191 = $VICTIM$ se pokousí pripojit do hry, ale je zabanovan podle jmena.
lang_0192 = $VICTIM$ se pokousí pripojit do hry, ale je zabanovan podle IP pod jmenem [$BANNEDNAME$].
lang_0193 = $VICTIM$ se pripojuje se zanovanych jmenem.
lang_0194 = $VICTIM$ se pripojuje se zabanovanou IP pod jmenem [$BANNEDNAME$].
lang_0195 = Hraci ve stavu hry #$NUMBER$: $PLAYERS$
lang_0196 = Chyba. Platne servery: $SERVERS$
lang_0197 = Kombinovany rating tymu $TEAM$ je [$SCORE$].
lang_0198 = Vyrovnavani slotu dokonceno.
lang_0199 = Hrac [$NAME$] byl vyhozen za nejvetsi odchylku ratingu [$SCORE$] od prumeru [$AVERAGE$].
lang_0200 = Zpravy lokalniho admina povoleny.
lang_0201 = Zpravy lokalniho admina zakazany.
lang_0202 = byl odpojen kvuli desyncu
lang_0203 = byl vyhozen za nejnizsi rating $SCORE$
lang_0204 = Hrac [$NAME$] byl vyhozen za nejnizsi rating [$SCORE$].
lang_0205 = Znovu nacitam konfiguraci.
lang_0206 = Odpocet prerusen, protoze nekdo opustil hru pred mene nez dvema sekundami!
lang_0207 = Nelze vytvorit hru [$GAMENAME$]. Pred hostovanim ulozene hry musi byt pouzit prikaz "enforcesg".
lang_0208 = Nelze nacist replay mimo aktualni adresar.
lang_0209 = Nacitam replay [$FILE$].
lang_0210 = Nelze nacist replay [$FILE$], protoze neexistuje.
lang_0211 = Spoustec prikazu: $TRIGGER$
lang_0212 = Nemuzete ukoncit tuto hru, protoze vlastnik hry [$OWNER$] stale hraje.
lang_0213 = Nemuzete zrusit hosovani teto hry, protoze vlastnik hry [$OWNER$] je v lobby.
lang_0214 = byl automaticky odpojen po $SECONDS$ sekundach
lang_0215 = ztratil pripojeni (vyprseni casoveho limitu), ale pouziva GProxy++ a muze se znovu pripojit
lang_0216 = ztratil pripojeni (chyba pripojeni - $ERROR$), ale pouziva GProxy++ a muze se znovu pripojit
lang_0217 = ztratil pripojeni (spojeni uzavreno vzdalenym hostem), ale pouziva GProxy++ a muze se znovu pripojit
lang_0218 = Prosim cekejte na opetovne pripojeni ($SECONDS$ sekund zbyvá).
lang_0219 = byl nenavratne odpojen z GProxy++
lang_0220 = Hrac [$NAME$] se znovu pripojil pres GProxy++!
